*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.imagestyling{
    height: 600px;
    width: 99vw;
}
@media only screen and (min-width: 320px) and (max-width: 480px){

    .imagestyling{
margin-top: -25px;
        height: 227.4px;
        width: 430px;

    }
    
}